body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  /*Stuff in container won't go over this width */
  max-width: 1500px;
  margin-right: auto;
  margin-left: auto;

  padding-right: 15px;
  padding-left: 15px;
}

/*Use css grid to make notes resopnsive aka our className notes-list */
.notes-list {
  display:grid;
  grid-gap: 1rem;

  /* This tells css I want 4 columns with each set width of 250px --> NOT RESPONSIVE THOUGH
  grid-template-columns: repeat(4, 250px); */

  /*This tells css I want the browser to auto-fit with a minmax of 250px to 1fr*/
  /* The column cannot be smaller than 250px and cannot be bigger than 1 fractional unit or whatever space is availble*/
  /* For instance, if we move our browser, if grid detects that a note is getting to the width of 250px, will create a column for the note*/
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  
}

.note.new {
  background-color: #67d7cc;

}

.delete-icon {

  cursor: pointer;
}


textarea {
  /* removes the text area and the resize from the text area that comes with native html */
  border: none;
  resize: none;
  background-color: #67d7cc;
  font-size:16px;
}

/* When user begins to type */
textarea:focus {
  outline: none;
}

.save {
  background-color: #e1e1e1;
  border: none;
  border-radius: 15px;
  padding: 5px 10px;
}

.save:hover {
  background-color: #ededed;
  cursor: pointer;
}

.note{
  background-color: #fef68a;
  /* Space out the notes */
  margin-bottom: 10px;
  border-radius: 10px;
  /*Padded out the  elements to the border, giving it more padding around the elemnt */
  padding: 2rem; 
  min-height: 170px;

  display:flex;
  flex-direction: column;
  /*Evenly space items in container so first item is beginning of container, last item is end of container */
  justify-content: space-between;


  /*Keep spacing that is added to the text, helpful when we save notes */
  white-space: pre-wrap 
}

.note-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search {
  display: flex;
  align-items: center;
  background-color: rgb(233, 233, 233);
  border-radius: 10px;
  padding: 5px;
  /* margin-bottom: 1.5em; */
}

.search input {
  border: none;
  background-color: rgb(233, 233, 233);
  width: 100%;
}

.search input:focus {
  outline: none;
}

.header {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*Dark mode setting for application */
.dark-mode {
  background-color: black;
  height: 100vh;
}

.dark-mode .toggleDarkMode {
  color: white;
}

/*Login and Registration CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

/*Change to specific login/registration class for buttons */
.login-button {
  border: none;
  outline: none;
  width: 100%;
  padding: 15px 0;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  background: #603bbb;
  cursor: pointer;
}

.login {
  width: 100%;
  min-height: 100vh; /*Basically is the height of the login component */
  padding: 0 20px;
  background: #e9e9e9;
  display: flex;
}

.login .loginContainer {
  padding: 60px;
  margin: auto; /*centers our login Container */
  width: 100%;
  max-width: 520px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  /*Applies the background image color */
  /*In our background we have three differnt */ 
  /*For more info: https://developer.mozilla.org/en-US/docs/Web/CSS/gradient/radial-gradient */
  background: radial-gradient(
    ellipse at left bottom,
    rgba(22, 24, 47, 1) 0%, /*Color from the bottom left, where our ellipse is starting from */
    rgba(38, 20, 72, 0.9) 59%, /*Color to the middle */
    rgba(17, 27, 75, 0.9) 100% /*Color to the bottom right */
  );

  /*Applies the shadow image for right, bottom, left */
  box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8);
}

.login .loginContainer label {
  color: white;
  margin: 14px 0;
  display: block;
  font-size: 22px;
  line-height: 1;
}

.login .loginContainer input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 19px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  letter-spacing: 1px;
}

.login .loginContainer .btnContainer {
  width: 100%;
  padding: 24px 0;
}

.login .loginContainer .btnContainer p {
  margin: 14px 0 0 0;
  text-align: right;
  color: #fff;
}

.login .loginContainer .btnContainer p span {
  color: yellow;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-left: 5px;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}

.login .loginContainer .btnContainer p span:hover {
  color: red;
}

.login .loginContainer .errorMsg {
  color: red;
  font-size: 16px;
}

.hero {
  width: 100%;
  /* min-height: 100vh; */
  /* background: radial-gradient(
    ellipse at left bottom,
    rgba(22, 24, 47, 1) 0%,
    rgba(38, 20, 72, 0.9) 59%,
    rgba(17, 27, 75, 0.9) 100%
  ); */
}

.hero nav {
  background: radial-gradient(
    ellipse at left bottom,
    rgba(22, 24, 47, 1) 0%,
    rgba(38, 20, 72, 0.9) 59%,
    rgba(17, 27, 75, 0.9) 100%
  );
  width: 100%;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero nav h2 {
  color: #fff;
}

.hero nav button {
  width: 86px;
  padding: 8px 0;
}

/*Declaring Dropbox CSS */
.filterCategory {
  width: 20%;
}